page-about {
    // color: helfen-orange;
    #about-us {
        position: relative;
        top: 10%;
        font-size: 14pt;
        color: #F2994A;
    }

    .slides {
        width: 100%;
        height: 100%;
    }
}
