page-home {
      .background-image {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
        background-image: url('../../assets/imgs/backgroud_test.jpg');
        // background-repeat: no-repeat;
        background-size: 320%;
        // background-color: rgba(0,0,0, 0.4);
        background-position: center;
        width: 100%;
        height: 100%;
        filter: blur(2px);
    }

    .container {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 9999;
        margin-left: 20px;
        margin-right: 20px;
    }

    ion-row {
        align-items: center!important;
        justify-content: center;
    }
    
    ion-row p {
        color: #a3a3a3;
    }

    #entrar {
        padding-left: 5px;
        font-size: 14pt;
        color: #19856B;
    }

    @font-face {
        font-family: Montserrat;
        src: url(../../assets/fonts/Montserrat/Montserrat-Light.ttf) format("ttf");
    }

    // logo
    #logo-helfen {
        margin-top: 10%;
        width: 80%;
    }

    #nome-helfen {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
    }

    // buttons
    .signin-button {
        font-size: 12pt;
        width: 90%;
        height: 55px;

        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
        background: #19856B;
        border-radius: 2px;
    }

    .about-button {
        color: #19856B;
        background-color: #FFFFFF;
        font-size: 12pt;
        width: 90%;
        height: 55px;
    }

    .helfen-description {
        font-family: Montserrat!important;
        font-style: normal;
        font-weight: normal;
        font-size: 12pt;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: white;
    }
}
